
<div class="jumbotron">

    <h1>Create A New Flashcard</h1>
    <h3>The new flashcard will be added to an existing deck, or a new deck will be created if one does not exist</h3>



    <form class="form-horizontal">
        <fieldset>
            <legend>Add New Flashcard</legend>



            <div class="form-group">
                <label for="textArea" class="col-md-2 control-label">Question:</label>
                <div class="col-md-10">
                    <textarea ng-model="newFlashcardData.question" class="form-control" rows="3" id="textArea" placeholder="Write the question here."></textarea>
                </div>
            </div>

            <div class="form-group">
                <label for="textArea" class="col-md-2 control-label">Answer:</label>
                <div class="col-md-10">
                    <textarea ng-model="newFlashcardData.answer" class="form-control" rows="3" id="textArea" placeholder="Write the answer here."></textarea>
                </div>
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput1" id="flashCategory">Flashcard Category:</label>
                <input ng-model="newFlashcardData.category" class="form-control" id="focusedInput1" type="text">
            </div>

            <div class="form-group label-floating">
                <label class="control-label" for="focusedInput1" id="flashCategory">Flashcard Subcategories:</label>
                <input ng-model="newFlashcardData.subcategories" class="form-control" id="focusedInput1" type="text" placeholder="Enter subcategories separated by a comma.">
            </div>


            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <button type="button" class="btn btn-default">Cancel</button>
                    <button type="submit" class="btn btn-primary" ng-click="addNewFlashcard(newFlashcardData)">Submit</button>
                </div>
            </div>
        </fieldset>
    </form>


</div>